html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

#switch_scene {
    position: fixed;
    z-index: 10;
}

header {
    transition: height 1.5s;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}
input#switch_scene:checked + * + header {
    transition: height 1.5s, background-color 0.5s 1.5s;
    height: 70px;
    background-color: rgba(255, 255, 255, 1);
}
header > nav {
    transition: width 1.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: absolute;
    z-index: 1;

    font-size: 1.5em;
    font-family: 'Palatino Linotype';
}
header > nav > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

div.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 0 5%;*/
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    z-index: 0;
}
/*
div.logo > img {
    z-index: 2;
}
*/
div.logo > img:first-child {
    width: 100%;
    opacity: 0.2;
}
div.logo > img:last-child {
    position: relative;
    width: 70%;
    transform: translateY(-170%);
}

#contents {
    transition: opacity 0.5s, top 1.5s;
    position: fixed;
    top: 100vh;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    opacity: 0;
    pointer-events: none;
}

input#switch_scene:checked + * + * + #contents {
    position: relative;
    top: 0;
    transition: opacity 1.3s 0.5s, top 1.5s;
    pointer-events: all;
    opacity: 1;
}

#contents::-webkit-scrollbar {
    display: none;
}

#contents > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
    min-width: 100%;
    height: 100%;
    overflow-y: auto;
}

footer {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    opacity: 0.5;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#copy {
    color: gray;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    margin: 5px;
}