@media (min-width: 750px) {
    #background {
        transition: width 1.5s, height 1.5s, opacity 1.5s;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 80vw;
        height: 80vh;
        opacity: 1;
        border-radius: 5px;
        box-shadow: 0 0 15px gray;
    }
    input#switch_scene:checked + #background {
        transition: width 1.5s, height 1.5s, opacity 1.5s;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        pointer-events: none;

    }

    div.logo {
        transition: width 1.5s ease-out;
        width: 60%;
        max-width: 900px;
    }

    nav {
        min-width: 400px;
        width: 40%;
        bottom: 30%;
    }

    nav > div {
        transition: margin-right 1.5s;
    }

    input#switch_scene:checked + * + header > nav {
        transition: width 1.5s;
        width: calc(40% + 270px);
        bottom: 20%;
    }

    input#switch_scene:checked + * + header > nav > div:first-child {
        transition: margin-right 1s;
        margin-right: 230px;
    }

    input#switch_scene:checked + * + header > .logo {
        width: 200px;
        transition: width 1.5s;
        transform: translateY(-35%);
        z-index: 2;
    }

    #contents {
        margin-top: 70px;
        min-height: calc(100vh - 70px);
        height: calc(100vh - 70px);
        scroll-snap-type: x mandatory;
    }
}