.rss-box {
    display: none;
}

.accentColor {
    color:rgb(207, 1, 80);
}
.blackColor {
    color:rgb(70, 70, 70);
}

body {
    margin:0;
    background-image: url("../img/wood.jpg");
    background-color:rgba(255, 255, 251, 0.5);
    background-blend-mode:lighten;
}
nav > ul {
    position:relative;
    left:50vw;
    transform: translateX(-50%);
    width:90vw;
    display:flex;
    list-style: none;
    padding-left:0;
    justify-content:space-around;
    font-size: 5vmin;
    margin-bottom: 15vmin;
}
nav > ul > li > a{
    text-decoration : none;
    cursor: pointer;
    color:rgb(29, 29, 29);
}
#gallery {
    position:relative;
    left:50vw;
    transform: translateX(-50%);
    width:90vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#gallery > a {
    display:block;
    margin-bottom:3vmin;
}
#gallery >  a > img {
    object-fit: cover;
    width: 25vmin;
    height: 25vmin;
    box-shadow: 0px 3px 4px rgba(46, 46, 46, 0.4);
}
#topPage {

}
#topPage > .ImgBox {
    
}
#topPage > .ImgBox > img {
    position:absolute;
    z-index: -10;
    object-fit: cover;
    width:80vw;
    height:70vh;
}
#topPage > .ImgBox > img.override {
    animation: override 10s linear 0s infinite alternate none running;
}
@keyframes override {
    0%{ opacity:0.0; }
    35%{ opacity:0.0; }
    65%{ opacity:1.0; }
    100%{  opacity:1.0; }
}
#topPage > h1 {
    position:relative;
    margin:0;
}
#topPage > .subTitle {
    display:inline;
    position:relative;
}
#topPage > #catch {
    position:absolute;
}
#topPage >  .subTitle >a {
    text-decoration : none;
    cursor: pointer;
    text-shadow: 0 0 3px white;
}
@media screen and (max-width: 750px) {
    #topPage > h1 {
        top:5vh;
        text-align:center;
        font-size: 18vw;
        font-family: "Khmer MN";
    }
    #topPage > .ImgBox > img {
        position:absolute;
        z-index: -10;
        object-fit: cover;
        width:87vw;
        height:65vh;
    }
    #topPage > .ImgBox {
        position:absolute;
        top:10vh;
        right:0;
        width:87vw;
        height:65vh;
        box-shadow: -20px 15px 3px rgba(0, 0, 0, 0.25),0px 25px 5px rgba(0, 0, 0, 0.3);
    }
    #topPage > .subTitle {
        left:10vmin;
    }
    #topPage >  .subTitle > a {
        font-weight:bold;
        font-size:5vmin;
    }
    #topPage > #catch {
        top:52vh;
        text-align:center;
        color:white;
        font-weight:bold;
        font-size:7.5vmin;
        /*background-color:rgb(32, 32, 32);*/
        text-shadow: 0 0 4px #534A4A;
    }
    nav {
        margin-top:  50vh;
    }
}